/* .card{
    display: flex;
    gap: 1rem;
}
.card>div{
    flex: 1;
    background-color: dodgerblue;
    border-radius: 1rem;
    height: 200px;
    transition: all .4s;
}
.card:hover> :not(:hover){
    opacity: .4;
} */

.style{
    border: none !important;
    border-bottom: 2px solid black !important;
}